body{
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form Container */
.form-box{
    background-color: #8cc7c7;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
}

/* Title */
h2{
    text-align: center;
}

/* Inputs */
input{
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 5px;
}

/* Row for Age and Contact */
.row{
    display: flex;
    gap: 10px;
}

.row input{
    width: 100%;
}

/* Button */
button{
    width: 100%;
    padding: 10px;
    background-color: #2c6e6e;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover{
    background-color: #1e4f4f;
}
